@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Red+Hat+Display:wght@700&display=swap');
:root
{
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --cream: hsl(30, 38%, 92%);
    --dark-cyan: hsl(158, 36%, 37%);
}
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body
{
    background-image:var(--cream);
}
.card
{
    display:flex;
    flex-direction: row;
    height:450px;
    width:600px;
    margin:15rem auto;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream);
    border-radius:25px;
    
}
p
{
    opacity:0.5;
}
#title
{
    letter-spacing: 5px;
}
.product-image img
{
    height:450px;
    overflow:hidden;
    border-radius:25px 0px 0px 25px;
}
.product-text
{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left:10px;
}
strong,b
{
    font-size:32px;
    font-weight:700;
    word-spacing:10px;
}
b
{
    color:var(--dark-cyan)
}
span
{
    text-decoration: line-through;
    opacity:0.5;
}
.purchase
{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height:50px;
    width:250px;
    background-color: var(--dark-cyan);
    border-radius:10px;
    padding-left:10px;
    margin:0px auto;
}
.purchase a
{
    text-decoration:none;
    color:white;
    font-size:14px;
    font-weight:700;
}
.purchase:hover
{
    background-color:var(--very-dark-blue);
}